.links{
    height: 30px;
    margin-right: 20px;
}

.filter{
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

.about{
    color: white;
}

.jumbotron{
    background-color: #303030;
    color: white;
}

.title{
    font-weight: bolder;
    font-size: x-large;
}

.description{
    font-size: large;
    height: 70px;
}

.card{
    height: 650px;
}

.card-expanded{
    height: 1300px;
}

@media(max-width: 850px){
    .card-expanded{
        height: 1600px;
    }
}

@media(max-width: 670px){
    .card-expanded{
        height: 1700px;
    }
}

@media(max-width: 670px){
    .card-expanded{
        height: 1800px;
    }
}

.card-img{
    height: 350px;
}

.card-img-mobile{
    height: 350px;
    width: 200px;
    margin: 0;
}

.row-title{
    font-weight: bold;
}